body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin-top: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a0e7e5;
  height: 8vh;
  width: 50vh;
  border-radius: 2rem 2rem 0 0;
}

.addTasks {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a0e7e5;
  height: 10vh;
  width: 50vh;
}

#input-bar {
  position: absolute;
  width: 18vh;
  height: 5vh;
  border-radius: 3rem;
  border: none;
  padding: 0 5rem 0 1rem;
  outline: none;
}

.add {
  position: absolute;
  width: 10vh;
  height: 5vh;
  border-radius: 3rem;
  border: none;
  background-color: #ffaebc;
  color: white;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0 1rem;
  margin-left: 12rem;
  outline: none;
}



.list {
  height: 60vh;
  width: 50vh;
  background-color: #f0f0f0;
  border-radius: 0 0 1rem 1rem;
}

.task {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

#task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background-color: #f8f8f8;
  margin-bottom: 0.2rem;
}

.task-name {
  flex: 1;
  margin: 0;
  padding: 0 1rem;
  text-align: left;
  font-size: 1rem;
}

#compelet-button,
#remove-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.header {
  color: #720e9e;
}